.footer {
  position: relative;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.9);
  .footer-menu {
    height: 50px;
    background-color: hotpink;
  }
  .footer-service {
    height: 180px;
    background-color: yellowgreen;
  }
  .footer-copy {
    height: 120px;
    background-color: bisque;
  }
}
